doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title
          | App | CSS Starter - A scalable, maintenable and consistant kit to start your project.
        link(rel="stylesheet", type="text/css", media="screen", href="css/stylesheet.css")
    body
    .wrapper
      article
        h1 Application related
        h3 Typographic scales
        caption
            p Headings and breakpoints
        table.table--app
            colgroup(span="9")
                col
                col(span="2")
                col(span="2")
                col(span="2")
                col(span="2")
            thead
                tr
                    th @media
                    th(colspan="2") XL+
                    th(colspan="2") StoXL
                    th(colspan="2") S-
            tfoot
                tr
                    th  
                    td(colspan="2") Font Size/Line height
                    td(colspan="2") Font Size/Line height
                    td(colspan="2") Font Size/Line height
            tbody
                tr
                    th Scale
                    td(colspan="2") 80% (20.5px)
                    td(colspan="2") 62.5% (16px)
                    td(colspan="2") 54.5% (14px)
                tr
                    th H1
                    td(title="7.2rem") 5.5rem
                    td(title="1.309659") 1.309659
                    td(title="4.8rem") 4.8rem
                    td(title="1") 1
                    td(title="3.2rem") 3.2rem
                    td(title="1.5") 1.5
                tr
                    th H2
                    td(title="3.75rem") 3.75rem
                    td(title="1.2805541") 1.2805541
                    td(title="3.6rem") 3.6rem
                    td(title="1.3333333") 1.3333333
                    td(title="2.6rem") 2.6rem
                    td(title="1.8461538") 1.8461538
                tr
                    th H3
                    td(title="3rem") 3rem
                    td(title="1.6006927") 1.6006927
                    td(title="2.4rem") 2.4rem
                    td(title="1") 1
                    td(title="2.2rem") 2.2rem
                    td(title="1.0909090") 1.0909090
                tr
                    th H4
                    td(title="2.19rem") 2.19rem
                    td(title="1.0963140") 1.0963140
                    td(title="2rem") 2rem
                    td(title="1.2") 1.2
                    td(title="1.9rem") 1.9rem
                    td(title="1.2631578") 1.2631578
                tr
                    th H5, H6, p
                    td(title="1.6rem") 1.6rem
                    td(title="1.5") 1.5
                    td(title="1.6rem") 1.6rem
                    td(title="1.5") 1.5
                    td(title="1.6rem") 1.6rem
                    td(title="1.5") 1.5