doctype html
html(lang='fr')
    include _includes/head
    body
        .wrapper.wrapper--app
            include _includes/header--app
            div(class="content_main--page")
                article.grid--app
                    h1 Grids
                    section
                        h2 No namespaced class names
                        h3 Whole
                            p.lead
                                | elements positionned with
                                code display: table-cell
                                | .
                            .grid-container
                                .grid-cell.one-whole
                                    p One Whole
                        h3 Halves
                            p.lead
                                | Elements positionned with
                                code display: table-cell
                                | .
                            .grid-container
                                .grid-cell.one-half
                                    p One Half Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                .grid-cell.one-half
                                    p One Half Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        h3 Thirds
                            .grid-container
                                .grid-cell.one-third
                                    p One Third Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                .grid-cell.one-third
                                    p One Third Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                .grid-cell.one-third
                                    p One Third Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        h3 Quarters
                            .grid-container
                                .grid-cell.one-quarter
                                    p One Quarter
                                .grid-cell.one-quarter
                                    p One Quarter
                                .grid-cell.one-quarter
                                    p One Quarter
                                .grid-cell.one-quarter
                                    p One Quarter
                        h3 Fifths
                            .grid-container
                                .grid-cell.one-fifth
                                    p One Fifth
                                .grid-cell.one-fifth
                                    p One Fifth
                                .grid-cell.one-fifth
                                    p One Fifth
                                .grid-cell.one-fifth
                                    p One Fifth
                                .grid-cell.one-fifth
                                    p One Fifth
                        h3 Sixths
                            .grid-container
                                .grid-cell.one-sixth
                                    p One Sixth
                                .grid-cell.one-sixth
                                    p One Sixth
                                .grid-cell.one-sixth
                                    p One Sixth
                                .grid-cell.one-sixth
                                    p One Sixth
                                .grid-cell.one-sixth
                                    p One Sixth
                                .grid-cell.one-sixth
                                    p One Sixth
                    section
                        h3 Responsive grid
                            .grid-container
                                .grid-cell.two-quarter.l--two-sixths
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth.first-of-row
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth
                                    p Responsive
                                .grid-cell.one-quarter.l--one-sixth.first-of-row
                                    p Responsive