doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            | CSS Starter - A scalable, maintenable and consistant kit to start your project.
        link(rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css")
        script(type="text/javascript" src="_assets/_js/javascript.js")
    body
        div(class="wrapper")
            header(class="header--app")
            h1 Verticale Scale
            div(class="content_main--page")
                article
                    h3(class="heading--app") Headers
                    hr
                    h1 Heading level 1
                    h2 Heading level 2
                    h3 Heading level 3
                    h4 Heading level 4
                    h5 Heading level 5
                    h6 Heading level 6
            div(class="sidebar")
                h2 Not yet.
                p Because the cake is a lie.

            footer(class="footer--app")
                address
                    p Follow me on
                        a(href="www.twitter.com/vivien_garcia") twitter
                    p Visit me: P. Sherman, 42, Wallaby way, Sidney.
