head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
        | CSS Starter - A scalable, maintenable and consistant kit to start your project.
    link(rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css")
    script(type="text/javascript" src="_assets/_js/javascript.js")