head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
        | GULP WORKFLOW
    link(rel="stylesheet" type="text/css" media="screen" href="_assets/_css/stylesheet.min.css")
    script(type="text/javascript" src="_assets/_js/javascript.min.js")